*{
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: myFirstFont;
  src: url(Codigra.ttf);
}

html, 
body {
    height: 100%;
    
    font-family:'Courier New', Courier, monospace;;
    background-image: url("bg2.jpg");
    background-position: center;
    background-size: 1920px 1080px;
    
}

#container {
    display: flex;
    background-color: rgb(84, 8, 99);
    height: 100%;
    align-items: center;
    flex-direction: column;
    background-image: url("bg2.jpg");
    background-position: center;
    background-size: 1920px 1080px;
    
}

#game{
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


header{
    border-bottom: 1px solid rgb(58, 58, 60);
}

.title{
    color: gainsboro;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem 0 0.4rem 0;
    text-align: center;
    
    font-family: myFirstFont;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}



.square {
    border: 2px solid white;
    min-width: 60px;
    min-height: 60px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#keyboard-container {
    height: 200px;
}

.keyboard-row{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: rgb(255, 225, 224);
    color: rgb(84, 8, 99);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.wide-button{
    flex-grow: 1.5;
}

.spacer-half {
    flex-grow: 0.5;
}

#sleeping {
    width: 200px;
    height: 200px;
    background-image: url("kitty_eepy.gif");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50px;
    top: 150px;   
}

#cake {
    width: 200px;
    height: 200px;
    background-image: url("cake.gif");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50px;
    top: 350px;   
}

#yapping {
    width: 200px;
    height: 200px;
    background-image: url("kitty_yap.gif");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 50px;
    top: 150px;   
}
