* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url(Codigra.ttf);
}

html, body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("bg2.jpg");
    background-position: center;
    background-size: 1920px 1080px;
}

#container {
    display: flex;
    background-color: rgb(84, 8, 99);
    height: 100%;
    align-items: center;
    flex-direction: column;
    background-image: url("bg2.jpg");
    background-position: center;
    background-size: 1920px 1080px;
}

#game {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid rgb(58, 58, 60);
}

.title {
    color: gainsboro;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem 0 0.4rem 0;
    text-align: center;
    font-family: myFirstFont;
}

#board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid white;
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard-container {
    height: 200px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: rgb(255, 225, 224);
    color: rgb(84, 8, 99);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.wide-button {
    flex-grow: 1.5;
}

.spacer-half {
    flex-grow: 0.5;
}



.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

.cake-img {
    width: 70px;
    height: 70px;
}

.left-cake,
.right-cake {
    object-fit: contain;
}

#board-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    overflow: visible;
}

#legend-box {
    position: absolute;
    right: 150px;
    top: 150px;
    background-color: rgba(0, 0, 0);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    width: 220px;
    font-size: 0.9rem;
    line-height: 1.4rem;
    border: 2px solid white;
    

}

#legend-box h3 {
    text-align: center;
    font-family: myFirstFont;
    margin-bottom: 10px;
}

.legend-box-color {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid white;
    vertical-align: middle;
}

.correct-pos {
    background-color: rgb(218, 73, 141);   
}

.wrong-pos {
    background-color: rgb(250, 198, 122);  
}

.not-in-word {
    background-color: rgb(146, 72, 122);   
}

.hidden-popup {
    display: none;
}

#guide-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background: white;
    color: rgb(84, 8, 99);
    padding: 25px 40px;
    border-radius: 12px;
    text-align: center;
    font-size: 1rem;
    border: 3px solid rgb(84,8,99);
}

#popup-ok {
    margin-top: 15px;
    padding: 8px 18px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 225, 224);
    color: rgb(84,8,99);
}

#length-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#length-popup.hidden-popup {
    display: none;
}

#length-ok {
    margin-top: 15px;
    padding: 8px 18px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 225, 224);
    color: rgb(84,8,99);
}

#fail-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#fail-ok {
    margin-top: 15px;
    padding: 8px 18px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 225, 224);
    color: rgb(84, 8, 99);
}

#win-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#win-ok {
    margin-top: 15px;
    padding: 8px 18px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 225, 224);
    color: rgb(84, 8, 99);
}

#win-box {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 60%;
    max-width: 600px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 3px solid white;
    border-radius: 18px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 1.5rem;
    animation: fadeIn 1s ease-in-out;
}


#princess-kitty {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: auto;
    object-fit: contain;
}

#win-cake {
    position: absolute;
    top: -130px;       
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: auto;
    
}

#birthday-message {
    font-family: myFirstFont;
    font-size: 1.8rem;
    text-align: center;
    padding: 20px;
    line-height: 2.4rem;
    color: rgb(255, 225, 224);
    animation: fadeIn 2s ease-in-out;
    text-shadow: 0px 0px 12px rgb(255, 170, 215);
}

#princess-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}


#princess-text {
    font-family: myFirstFont;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: rgb(84, 8, 99);
}

#princess-ok {
    margin-top: 15px;
    padding: 8px 18px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 225, 224);
    color: rgb(84,8,99);
}

